* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background:url(../images/v3.jpg);
    
    background-size: 100% 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}