.myProjects {
    padding: 40px 0;

    h2 {
        font-size: 50px;
        font-weight: 700;
        background: linear-gradient(to top, hsl(297, 68%, 62%), hsl(204, 56%, 52%));

        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        line-height: 1.8;
        padding-bottom: 20px;
    }

    .box{ //features
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
        justify-content: space-around;
        grid-gap: 25px;
    }


    .project{
        border-radius: 40px 0 40px 0;
        -webkit-border-radius: 40px 0 40px 0;
        -moz-border-radius: 40px 0 40px 0;
        -ms-border-radius: 40px 0 40px 0;
        -o-border-radius: 40px 0 40px 0;
        box-shadow: rgba(149, 146, 146, 0.129) 0px 3px 8px, rgba(251, 251, 251, 0.068) 0px 2px 6px;
    
        .project-desc{
            line-height: 1.8;
            padding: 16px;
            padding-bottom: 20px;

            h3{
                font-size: 28px;
                color: #fff;
                padding-bottom: 5px;
            }

            p{
                color: #afbbcb;
                padding-bottom: 10px;
            }

            .links{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-self: flex-end;

                .btn{
                    font-size: 18px;
                    font-weight: 800;
                    cursor: pointer;
                    text-transform: uppercase;
                }

                .btn-preview{
                        color: #ba4d9b;
                        font-family: inherit;
                        position: relative;
                        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                        transition-duration: 400ms;
                        transition-property: color;

                        &:focus,
                        &:hover {
                            color: #ee75cc;
                        }
                        &:focus:after,
                        &:hover:after {
                            width: 100%;
                            left: 0%;
                        }
                        &:after {
                            content: "";
                            pointer-events: none;
                            bottom: -3px;
                            left: 50%;
                            position: absolute;
                            width: 0%;
                            height: 2px;
                            background-color: #ee75cc;
                            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                            transition-duration: 400ms;
                            transition-property: width, left;
                        }
                }

                .btn-view{
                    color: #648fe6;
                        font-family: inherit;
                        position: relative;
                        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                        transition-duration: 400ms;
                        transition-property: color;
                }
            }
        }
    }

    img {
        width: 100%;
        border-radius: 40px 0px 0 0;
        -webkit-border-radius: 40px 0px 0 0;
        -moz-border-radius: 40px 0px 0 0;
        -ms-border-radius: 40px 0px 0 0;
        -o-border-radius: 40px 0px 0 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        height: 260px;
}

}
