.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(../images/tlg11.png);
  background-size: 100% 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 376px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 0;
}
header #logo img {
  width: 80px;
}

.hero {
  position: relative;
}
.hero .container {
  position: relative;
  height: 100vh;
  position: relative;
  color: #14213d;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .container .links {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.hero .container .links::before {
  position: absolute;
  content: "";
  height: 100%;
  border: 1px solid #fff;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.hero .container .links::after {
  position: absolute;
  content: "";
  height: 100%;
  border: 1px solid #fff;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.hero .container .links svg {
  width: 34px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
  transform: scale(1);
  fill: #fff;
}
.hero .container .links .social-link1, .hero .container .links .social-link2, .hero .container .links .social-link3 {
  text-decoration: none;
  transition: 0.25s;
  padding: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 5px 0;
}
.hero .container .links .social-link1:hover {
  background: #0a66c2;
  animation: bounce_613 0.4s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hero .container .links .social-link2:hover {
  background-color: #131418;
  animation: bounce_613 0.4s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hero .container .links .social-link3:hover {
  background-color: #09B83E;
  animation: bounce_613 0.4s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 992px) {
  .hero .container .links {
    display: none;
  }
}
.hero h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.8;
  padding: 10px 0;
}
@media (max-width: 576px) {
  .hero h1 {
    font-size: 40px;
  }
}
.hero p {
  font-size: 22px;
  line-height: 1.6;
  font-weight: normal;
  padding-top: 20px;
  color: #011936;
  max-width: 700px;
}
@media (max-width: 576px) {
  .hero p {
    font-size: 20px;
  }
}
.hero .name {
  background: linear-gradient(to top, hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.bn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 4rem;
  background-size: 300% 300%;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#424b54, #424b54), linear-gradient(137.48deg, #eed7c5 10%, #FE53BB 45%, #8F51EA 67%, #bcf4de 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 48px;
  cursor: pointer;
}
.bn strong {
  z-index: 2;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0 0 3px white;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 156, 215, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(151, 86, 249, 0.704);
}

.bn:hover #container-stars {
  z-index: 1;
  background-color: rgba(20, 33, 61, 0.9176470588);
}

.bn:hover {
  transform: scale(1.1);
}

.bn:active {
  border: double 3px #9a8c98;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.bn:active .circle {
  background: #9a8c98;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}
@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.about {
  padding: 80px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .about {
    flex-direction: column;
    gap: 60px;
  }
}
.about h2 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 1.8;
}
@media (max-width: 992px) {
  .about h2 {
    text-align: center;
  }
}
.about p {
  max-width: 760px;
  line-height: 1.6;
  font-weight: 500;
  font-size: 18px;
  color: #eef0eb;
}
@media (max-width: 768px) {
  .about p {
    text-align: center;
    font-size: 14px;
  }
}

.cardContainer {
  width: 260px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: 0.5s;
  cursor: pointer;
}

.profileDiv {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  color: rgb(155, 155, 155);
  font-weight: 500;
  font-size: 16px;
  background-image: url("/images/amina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cardContainer:hover .profileDiv {
  transform: translateX(-25%) translateY(-20%);
  transition-duration: 0.5s;
}

.infoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  /**/
  background: rgba(81, 81, 81, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nameDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /**/
  background-color: transparent;
  gap: 2px;
  color: #fff;
  z-index: -1;
}
.nameDiv .name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
}
.nameDiv .role {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #fff;
}

.socialDiv {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(14, 14, 14);
  gap: 25px;
  margin-right: 10px;
}
.socialDiv a {
  color: #fff;
  font-size: 30px;
}

.socials {
  width: 20px;
  fill: rgb(14, 14, 14);
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.myProjects {
  padding: 40px 0;
}
.myProjects h2 {
  font-size: 60px;
  font-weight: 700;
  background: #14213d; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #457b9d, #14213d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  line-height: 1.8;
  padding-bottom: 20px;
}
.myProjects .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
  grid-gap: 30px;
}
.myProjects .project {
  border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  -o-border-radius: 30px 30px 0 0;
  background: rgba(81, 81, 81, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.myProjects .project .project-desc {
  line-height: 1.8;
  padding: 16px;
  padding-bottom: 20px;
}
.myProjects .project .project-desc h3 {
  font-size: 21px;
  font-weight: 800;
  color: #14213d;
  padding-bottom: 5px;
}
.myProjects .project .project-desc p {
  color: #eef0eb;
  padding-bottom: 10px;
  font-size: 16px;
}
.myProjects .project .project-desc .links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.myProjects .project .project-desc .links .btn {
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
}
.myProjects .project .project-desc .links .btn-preview {
  color: #a4133c;
  font-family: inherit;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  /*
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: double;

  &:focus,
  &:hover {
      color: #ee75cc;
  }
  &:focus:after,
  &:hover:after {
      width: 100%;
      left: 0%;
  }
  &:after {
      content: "";
      pointer-events: none;
      bottom: -3px;
      left: 50%;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #ee75cc;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left;
  }*/
}
.myProjects .project .project-desc .links .btn-view {
  color: #13293d;
  font-family: inherit;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.myProjects img {
  width: 100%;
  max-width: 100%;
  border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  -o-border-radius: 30px 30px 0 0;
  height: 230px;
}

.projects {
  padding: 40px 0;
}
.projects h2 {
  font-size: 50px;
  font-weight: 700;
  background: #23074d; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  line-height: 1.8;
}
.projects h3 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}
.projects .box {
  /* From https://css.glass */
  background: rgba(81, 81, 81, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
  border: 1px solid rgba(81, 81, 81, 0.3);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 40px 20px;
  position: relative;
  align-items: center;
}
.projects .box .slide {
  display: none;
}
.projects .box .active-slide {
  display: block;
}
.projects .box .project {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  align-items: center;
  margin: 14px 0;
}
@media (max-width: 992px) {
  .projects .box .project {
    grid-template-columns: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
.projects .box h4 {
  color: #fff;
  font-size: 22px;
}
.projects .box span {
  position: absolute;
  top: 15px;
  color: #fff;
  right: 30px;
}
.projects .box p {
  max-width: 800px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 18px;
  color: #afbbcb;
  padding: 10px 0;
}
@media (max-width: 992px) {
  .projects .box p {
    text-align: start;
  }
}
.projects .box .btn {
  padding: 16px 30px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 0.5rem;
}
.projects .box .btn.view {
  background-color: rgba(157, 128, 244, 0.6117647059);
  border: 1px solid rgba(157, 128, 244, 0.6117647059);
}
.projects .box .btn.preview {
  background-color: hsl(297, 68%, 62%);
  border: 1px solid hsl(297, 68%, 62%);
}
.projects .box img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 320px;
}
.projects .box ul {
  margin-top: 1.5rem;
}
@media (max-width: 992px) {
  .projects .box ul {
    text-align: start;
  }
}
.projects .box ul li {
  padding: 2px 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.projects .box ul li i {
  color: #91ea68;
  margin-right: 0.5rem;
}
.projects .box .prev-btn,
.projects .box .next-btn {
  position: absolute;
  font-size: 22px;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #7f5af0;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.projects .box .prev-btn {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 768px) {
  .projects .box .prev-btn {
    top: calc(100% + 40px);
    left: 35%;
  }
}
.projects .box .next-btn {
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 768px) {
  .projects .box .next-btn {
    top: calc(100% + 40px);
    right: 35%;
  }
}
.projects .box .prev-btn[disabled],
.projects .box .next-btn.last {
  display: none;
}

.contact {
  padding: 40px 0;
}
@media (max-width: 576px) {
  .contact {
    padding: 60px 0;
  }
}
.contact > div {
  display: flex;
  color: #fff;
  padding: 40px 0;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .contact > div {
    flex-direction: column;
    align-items: center;
  }
}
.contact > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact > div > div h3 {
  font-size: 28px;
  background: #14213d; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #75c6f8, #14213d);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.8;
}
.contact > div > div h4 {
  font-size: 36px;
  line-height: 1.8;
}
@media (max-width: 576px) {
  .contact > div > div h4 {
    font-size: 30px;
  }
}
.contact > div > div p {
  color: #eef0eb;
  max-width: 600px;
  line-height: 1.6;
  padding: 20px 0;
}
.contact > div > div span {
  display: block;
  font-size: 22px;
  padding: 10px 0;
  font-weight: 600;
  color: #011936;
}
@media (max-width: 576px) {
  .contact > div > div span {
    font-size: 18px;
  }
}
.contact > div > div span i {
  margin-right: 8px;
}
.contact h2 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.8;
}
@media (max-width: 576px) {
  .contact h2 {
    font-size: 40px;
  }
}
.contact h2 span {
  background: #14213d; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #75c6f8, #14213d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact .form {
  padding: 40px;
  /* From https://css.glass */
  background-color: rgba(20, 33, 61, 0.0823529412);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
}
.contact .form::before {
  content: "";
  position: absolute;
  width: 70%;
  background-image: linear-gradient(180deg, #94d0f5, rgba(248, 174, 248, 0.752));
  height: 130%;
  animation: rotBGimg 4s linear infinite;
  transition: all 0.3s linear;
  -webkit-animation: rotBGimg 4s linear infinite;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contact .form::after {
  content: "";
  position: absolute;
  background: #011936;
  inset: 5px;
  border-radius: 15px;
}
.contact .form .content {
  z-index: 1;
}
.contact .form h5 {
  font-size: 32px;
  line-height: 1.8;
  background: linear-gradient(to top, #eef0eb, #4792c0);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact .form p {
  text-align: center;
  color: #a6b3c5;
  padding-bottom: 30px;
}
.contact .form input,
.contact .form textarea {
  width: 350px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  color: #94a1b2;
  background-color: transparent;
  margin: 10px 0;
  resize: vertical;
}
@media (max-width: 768px) {
  .contact .form input,
  .contact .form textarea {
    width: 100%;
  }
}
.contact .form input:focus,
.contact .form textarea:focus {
  outline: none;
}
.contact .form input::-moz-placeholder, .contact .form textarea::-moz-placeholder {
  color: #94a1b2;
}
.contact .form input::placeholder,
.contact .form textarea::placeholder {
  color: #94a1b2;
}
.contact .form input.bar,
.contact .form textarea.bar {
  height: 40px;
}
.contact .form a {
  text-align: center;
  display: block;
  background-color: #4792c0;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-top: 60px;
}

footer {
  padding: 5px 0;
  position: relative;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
footer ul li a {
  color: #fff;
  font-size: 28px;
  padding: 0 12px;
}
footer ul::after {
  position: absolute;
  content: "";
  width: calc(50% - 100px);
  border: 1px solid #fff;
  top: 50%;
  left: 0;
}
footer ul::before {
  position: absolute;
  content: "";
  width: calc(50% - 100px);
  border: 1px solid #fff;
  top: 50%;
  right: 0;
}
footer .foot {
  color: #fff;
  padding-bottom: 20px;
}/*# sourceMappingURL=style.css.map */